body {
	padding: 0;
	margin: 0;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
}

.login {
	padding: 0;
	background-color: rgb(25, 55, 138);
	width: 100vw;
	height: 100vh;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
}

form * {
	margin: 12px 0 0 0;
}

input {
	background-color: rgb(6, 33, 77);
	border: 1px solid rgb(5, 26, 51);
	border-radius: 5px;

	width: 400px;
	height: 40px;
	font-size: 18px;

	padding: 2px 10px;

	color: rgb(109, 109, 109);
}

h1 {
	color: white;
	margin-bottom: 10px;
}

.btn {
	cursor: pointer;
	color: white;
	border-radius: 5px;
	font-weight: 500;
	width: inherit;
	height: 40px;
	font-size: 18px;
	padding: 5px;

	border: none;
	background-color: rgb(79, 122, 214);
}
